{% extends 'GeosignalWebBundle::base.html.twig' %}
{% block body %}

    <div class='main-wrap minH100'>
        <div class='container minH100'>
            <div class='row minH100'>
                <div class='col-md-14 p-absolute p-xs-x-middle p-xs-y-middle p-sm-x-middle p-sm-y-middle'>
                    <div class='slider-wrap'>
                        <div class='slider-content' data-auto='false' data-pager='false' data-controls='false' data-mode='fade' data-infinite-loop='false'>
                            <div class="slide-wrap">
                                <div class='bg-en bg-em'>
                                    <h2>{% trans %}Implementación de localización vía HTML5 & Google Maps{% endtrans %}</h2>
                                    <a href="#" class='btn btn-stable btn-next-slide'>Continuar</a>
                                </div>
                            </div>

                            <div class="slide-wrap">
                                    <div class='bg-en bg-em' style="padding-top: 2rem;">
                                    <h2>{% trans %}A través de HTML5 puedes ubicar las coordenadas del dispositivo que estas usando.{% endtrans %}</h2>
                                    <div class="text-center">
                                    <div class="loader hidden"></div> 
                                    </div>
                                    <a href="#" class='btn btn-stable btn-next-slide'>¡Inténtalo!</a>
                                </div>
                            </div>

                            <div class="slide-wrap">
                                <div class='bg-en'>
                                    <p>{% trans %}Tus coordenadas son:{% endtrans %}</p>
                                    <p class='text-center'><span class="position"></span></p>
                                    <p>{% trans %}Esta posición numérica está representada en el sistema de coordenadas UTM, mismo estándar utilizado por los sistemas de posicionamiento global (GPS){% endtrans %}.</p>
                                    <p>{% trans %}Ahora, el siguiente paso es ubicar éstas coordenadas en un mapa{% endtrans %}.</p>
                                    <div class='text-center'>
                                        <a href="#" class='btn btn-stable btn-next-slide'>{% trans %}Siguiente paso{% endtrans %}</a>
                                    </div>
                                </div>
                            </div>

                            <div class="slide-wrap">
                                <div class='bg-en'>
                                    <p>{% trans %}La API de Mapas de Google te permite mapear cualquier lugar del mundo.{% endtrans %}</p>
                                    <div id="map-canvas" style="width:  500px; height: 300px;margin: auto;"></div>
                                    <div class='text-center'>
                                        <a href="#" class='btn btn-stable btn-next-slide'>{% trans %}Siguiente paso{% endtrans %}</a>
                                    </div>
                                </div>
                            </div>

                            <div class="slide-wrap">
                                <div class='bg-en'>
                                    <div class="text-center"></div>
                                    <p>{% trans %}Ahora ya podemos combinar las coordenadas previamente obtenidas, con el mapa generado por la API.{% endtrans %}</p>
                                    <div class='clearfix'>
                                        <div class=''>
                                            <p><span class="position"></span></p>
                                        </div>
                                        <div class='map-container'>

                                        </div>
                                    </div>
                                    <div class='text-center'>
                                        <a href="#" class='btn btn-stable btn-next-slide'>{% trans %}¡Combínalos!{% endtrans %}</a>
                                    </div>
                                </div>
                            </div>

                            <div class='slide-wrap'>
                                <div class='bg-en'>
                                    <p>{% trans %}Como puedes ver, ahora tienes un mapa de tu localización.{% endtrans %}</p>
                                    <div class="map-container2">

                                    </div>
                                    <p>{% trans %}Esto es muy fácil de implementar con un poco de líneas de código.{% endtrans %}</p>
                                    <p>{% trans %}Puedes obtener el código completo para implementarlo fácil y rápidamente. Para más información sobre el costo y contenido de la implementación del código da click en el botón.{% endtrans %}</p>
                                    <div class='text-center'>
                                        <a href="#" class='btn btn-stable btn-next-slide'>{% trans %}Más información{% endtrans %}</a>
                                    </div>
                                </div>
                            </div>

                            <div class="slide-wrap">
                                <div class='bg-en'>
                                    <div class='clearfix'>
                                        <div class='col-xs-12 col-xs-offset-6 map-container3'>

                                        </div>
                                    </div>
                                    <p>
                                        {% trans %}Contenido:{% endtrans %}<br>
                                        {% trans %}Un Archivo PHP combinado con un FrontEnd en JavaScript. Con instrucciones para su armado e implementación.{% endtrans %}
                                    </p>

                                    <p>{% trans %}Éste tiene un costo de $24USD. Con una garantía de reembolso total si no cumple tus expectativas.{% endtrans %}</p>
                                    <div class='text-center'>
                                        {% include 'GeosignalWebBundle:Main:paypal_button.html.twig' with {'paypal_label':"Comprar"} %}
                                    </div>
                                    <p>{% trans %}También puedes revisar el cátalogo completo de implementaciones en:{% endtrans %}</p>

                                    <div class="text-center">
                                        <a href="https://www.coding-depot.dev" target='_blank'>
                                            <img style="margin: auto;"  src='{{ asset('/bundles/geosignalweb/images/alt/logo.png') }}' alt=''/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}



{% block javascripts %}
    <script type="text/javascript">
        var locale_path = "{{app.request.locale|slice(0, 2)}}";
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCixPtKsC9qK0F45BYhdIX83Z4PAI1SzAU&libraries=geometry"></script>
    {% javascripts
    "@GeosignalWebBundle/Resources/public/js/jquery-1.11.3.min.js"
    "@GeosignalWebBundle/Resources/public/js/jquery.cookie.js"
    "@GeosignalWebBundle/Resources/public/bootstrap/js/bootstrap.min.js"
    "@GeosignalWebBundle/Resources/public/bxslider/jquery.bxslider.min.js"
    "@GeosignalWebBundle/Resources/public/fancybox/jquery.fancybox.pack.js"
    "@GeosignalWebBundle/Resources/public/fancybox/helpers/jquery.fancybox-thumbs.js"
    "@GeosignalWebBundle/Resources/public/js/bowser.min.js"
    "@GeosignalWebBundle/Resources/public/validate/jquery.validate.min.js"
    "@GeosignalWebBundle/Resources/public/validate/additional-methods.min.js"
    "@GeosignalWebBundle/Resources/public/js/jquery-ui.js"
    "@GeosignalWebBundle/Resources/public/js/alt.js"
    %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}
    <!--[if lt IE 9]>
          <script src="html5shiv/html5shiv.min.js"></script>
          <script src="respond/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets "bundles/geosignalweb/css/alt.css" filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}  