<div class="hidden">
    <div id="paypalContent">
        <div id='paypalContentInner'>
            <h1>{%trans%}Tu ubicación.{%endtrans%}</h1>
            <p>{%trans%}Ésta es tu posición, ahora ingresa el número que deseas buscar.{%endtrans%}</p>

            <form class='register validate' >
                <input type="text" class="required internationalPhone" minlength="8" maxlength="13" name="telefono" />
                <input type="submit" value="{%trans%}Buscar{%endtrans%}" />
            </form>
        </div>
        {% if payment_conekta == "true" %}
            <form class='hidden paypalForm' action="{{path('do_payment',{'id':product.id})}}" method="get" target="_top">
                <p>{%trans%}El servicio tiene un costo que se puede pagar a través de Paypal.{%endtrans%}</p>}
                <input type="submit" class="btn-locate"  value="{%trans%}Obtener Ubicación{%endtrans%}">
                <p>{%trans%}Da click en el botón para obtener más información.{%endtrans%}</p>
                {#<p>{%trans%}Éste servicio tiene un costo, para obtener más información oprimir el botón de 'Obtener Ubicación'. {%endtrans%}</p>#}
            </form>
        {% else %}
            <form class='hidden paypalForm' action="{{payment_domain}}{{ app.request.attributes.get('_locale') }}/{{ payment_path }}" method="post" target="_top">
                <input type="hidden" name="idd" value="{{product.reference}}">
                <p>{%trans%}El servicio tiene un costo que se puede pagar a través de Paypal.{%endtrans%}</p>}
                <input type="submit" class="btn-locate"  value="{%trans%}Obtener Ubicación{%endtrans%}">
                <p>{%trans%}Da click en el botón para obtener más información.{%endtrans%}</p>
                {#<p>{%trans%}Éste servicio tiene un costo, para obtener más información oprimir el botón de 'Obtener Ubicación'. {%endtrans%}</p>#}
            </form>
        {% endif %}
    </div>
</div>

<script type='text/javascript'>
    labels3 = labels2.slice();
    labels3.push("{%trans%}Dispositivo localizado.{%endtrans%}");
</script>