//<script type='text/javascript'>
var urlParams = new URLSearchParams(window.location.search);
var gclid = urlParams.get('gclid');
var param1 = urlParams.get('param1');
//window.alert(gclid); 
//window.alert('DomainChange'); 
</script>


<div class="hidden">
    <div id="paypalContent">
        <div id='paypalContentInner'>
            <h1></h1>
            <p>{%trans%}Ésta es tu posición, ahora ingresa el número que deseas buscar.{%endtrans%}</p>

            <form class='register validate' >
                <input type="text" class="required internationalPhone" minlength="8" maxlength="13" name="telefono" />
                <input type="submit" value="{%trans%}Buscar{%endtrans%}" />
            </form>
        </div>
        {% if payment_type == "conekta" %}
            <form class='hidden paypalForm' action="{{path('do_payment',{'id':product.id})}}" method="get" target="_top">
                <p>{%trans%}El servicio tiene un costo que se puede pagar de forma segura a través de Conekta.{%endtrans%}</p>}
                <input type="submit" class="btn-locate"  value="{%trans%}Obtener Ubicación{%endtrans%}">
                <p>{%trans%}Da click en el botón para obtener más información.{%endtrans%}</p>
                {#<p>{%trans%}Éste servicio tiene un costo, para obtener más información oprimir el botón de 'Obtener Ubicación'. {%endtrans%}</p>#}
            </form>
        {% elseif payment_type == "coding" %}
            {% if app.request.locale == 'es_extra' %}
                <form class='hidden paypalForm paypalFormDouble btnPayPal' action="{{payment_domain}}{{ app.request.attributes.get('_locale') }}/{{ payment_path }}" method="post" target="_top">
                    <input type="hidden" name="idd" value="{{product.reference}}">
                    <p class="extended">{%trans%}El servicio tiene un costo que se puede pagar de forma segura via Paypal.{%endtrans%}</p>
                    <input type="submit" class="btn-locate"  value="{%trans%}Pagar con Paypal{%endtrans%}">
                </form>
                <form class='hidden paypalForm paypalFormDouble btnConekta' action="{{path('do_payment',{'id':product.id})}}" method="get" target="_top">
                    <input type="submit" class="btn-locate"  value="{%trans%}Pagar con Conekta{%endtrans%}">
                </form>
            {% else %}
            {#}siempre se va hacia aca.#} 
           
                <form id="formaPago" class='hidden paypalForm' action="{{payment_domain}}{{ app.request.attributes.get('_locale') }}/{{ payment_path }}" method="post" target="_top">
                    <input type="hidden" name="idd" value="{{product.reference}}">
                    <input type="hidden" id="gclod" name="gclid" value="">
                    <script>document.getElementById("gclod").value = gclid;</script>
                    <input type="hidden" id="param1" name="param1" value="">
                    <script>document.getElementById("param1").value = param1;</script>
                    <p>{%trans%}El servicio tiene un costo que se puede pagar de forma segura.{%endtrans%}</p>
                    <p id="textotest"></p>
                    <input type="submit" class="btn-locate"  value="{%trans%}Obtener Ubicación{%endtrans%}">
                    <p>{%trans%}Da click en el botón para obtener más información.{%endtrans%}</p>
                    {#<p>{%trans%}Éste servicio tiene un costo, para obtener más información oprimir el botón de 'Obtener Ubicación'. {%endtrans%}</p>#}
                </form>

          



            {% endif %}
        {% else %}
            {% include 'GeosignalWebBundle:Main:paypal_button.html.twig' %}
        {% endif %}
    </div>
</div>

<script type='text/javascript'>
    labels3 = labels2.slice();
    labels3.push("{%trans%}Dispositivo localizado.{%endtrans%}");
</script>