{#

<form class='{% if paypal_label is defined %}{%else%}hidden paypalForm{%endif%}' action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <p class="legend-paypal">{%trans%}El servicio tiene un costo que se puede pagar a través de Paypal.{%endtrans%}</p>}
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="{%trans%}T7NB7SF4J4WQG{%endtrans%}">
    <input type="submit" class="btn-locate btn btn-stable"  value="{% if paypal_label is defined %}{{paypal_label}}{% else %}{%trans%}Obtener Ubicación{%endtrans%}{% endif %}">
           <img alt="{%trans%}Obtener Ubicación{%endtrans%}" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
    <p class="legend-paypal">{%trans%}Da click en el botón para obtener más información.{%endtrans%}</p>
</form>

#}

<form class='{% if paypal_label is defined %}{%else%}hidden paypalForm{%endif%}' action="{{payment_domain}}{{ app.request.attributes.get('_locale') }}/{{ payment_path }}" method="post" target="_top">
    <input type="hidden" name="idd" value="6">
    <input type="submit" class="btn-locate btn btn-stable"  value="{% if paypal_label is defined %}{{paypal_label}}{% else %}{%trans%}Obtener Ubicación{%endtrans%}{% endif %}">
    <p  class="legend-paypal">{%trans%}Da click en el botón para obtener más información.{%endtrans%}</p>
</form>